@import '../../styles/typography';
@import '../../styles/theme';
$button-padding: 1rem;
$hover-padding: $button-padding + 0.5rem;

.hovered-button {
  cursor: pointer;
  color: $background-color-button-primary;
  background: white;
}

.button {
  width: 100%;
  display: block;
  box-sizing: border-box;
  line-height: unset;
  letter-spacing: 2px;
  text-align: center;
  background: $background-color-button-primary;
  border: 1px solid $background-color-button-primary;
  color: white;
  overflow: hidden;
  padding: $button-padding;

  &:hover {
    @extend .hovered-button;
  }

  &:active {
    background: lighten($background-color-button-primary, 35);
  }

}
.animated {
  transition: all 0.5s;

  &:hover {
    padding-right: $hover-padding;
    padding-left: $hover-padding;
  }
}


.large {
  line-height: 2rem;
}

.small {
  line-height: 1rem;
}

.disabled {
  pointer-events: none;
  color: grey;
  background: white;
  border-color: grey;
}

