.root {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 300ms ease-in-out;
  display: none;
}

.background {
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  width: 100%;
  opacity: 0;
}

.background

.visible {

  display: block;
}
