@import '../../../styles/util';
@import '../../../styles/theme';

.root {
  min-height: 5rem;
  width: 100%;
  border-top: solid 1px darkgrey;
  background-color: $background-color-footer;
  color: $text-color-footer;
}
