.root {
  height: 100%;
  width: 100%;
  text-align: center;
}
.wrapper {
  max-width: 30rem;

}
.landingTextWrapper {
  box-sizing: border-box;
  padding: 1rem;
  @media(max-width: 30rem){
    font-size: 1rem !important;
  }

}
