@import '../../../styles/theme';
@import '../../../styles/util';

.root {
  @extend .paper-shadow;
  min-height: 4rem;
  width: 100%;
  box-sizing: border-box;
  background-color: $background-color-header;
  color: white;
}
.logoContainer {
  width: 10%;
  padding-left: 1rem;
  padding-right: 1rem;
}

