/*
  Use this sass module to store variables that should be used throughout other modules.
*/
/*
  Palette
*/
$color1: rgba(160, 184, 94, 1);
$color2: rgba(7, 79, 87, 1);
$color3: rgba(7, 113, 135, 1);
$color4: rgba(158, 206, 154, 1);
$color5: rgba(228, 197, 175, 1);

$error: #c31d37;
$warning: #d4e23b;

/*
  Theme variables
*/
$font-family-global: "Lucida Typewriter", monospace;

/*
  Background Colors
*/
$background-color-main: lighten($color4, 24);
$background-color-header: $color2;
$background-color-footer: $color2;
$background-color-button-primary: $color1;

/*
  Text Colors
*/

$text-color-footer: white;
