@import 'theme';

.display4 {
    font-size: 112px;
    font-weight: 300;
    line-height: 128px;
    letter-spacing: -5px;
}

.display3 {
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
}

.display2 {
    font-size: 45px;
    font-weight: 400;
    line-height: 64px;
}

.display1 {
    font-size: 34px;
    font-weight: 400;
    line-height: 52px;
}

.headline {
    font-size: 24px;
    font-weight: 400;
    line-height: 44px;

}

.brand {
  @extend .headline;
  text-transform: uppercase;
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 44px;
}

.subhead {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.body {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.caption {
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
}

.menu {
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
}

.button {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 2px;
}

.formError {
  @extend .subhead;
  color: $error;
}

.formFieldError {
  @extend .caption;
  color: $error;
}

