.input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 0.1rem;
}

.root {
  width: 100%;
  margin-bottom: 1rem;
}

.errorsContainer {
  max-height: 0;
  height: 1rem;
  transition: max-height 300ms ease-in-out;
}

.errorsVisible {
  max-height: 3rem;
}

